<section class="contact" id="sec10">
  <div class="set1" id="set1">
    <div class="wrap">
      <div class="section-heading">
        <h2>お問い合わせ</h2>
        <p>Contact</p>
      </div>
      <iframe src="https://ws.formzu.net/dist/S16911454/" frameborder="0" title="お問い合わせフォーム"></iframe>
    </div>
  </div>
</section>
