<footer class="site-footer">
  <div class="wrap">
    <div class="row">
      <div class="left">
        <p class="logo"><span>LuckyHotels</span></p>
        <div class="content">
          <h3>株式会社Laicos</h3>
          <p class="text">ラブホテル向けホームページ制作・改善<br />Mail: <a class="orange" href="mailto:haruku.maniwa@laicos.tech">haruku.maniwa@laicos.tech</a></p>
        </div>
      </div>
      <div class="links">
        <p class="link orange"><a href="https://laicos.tech">会社情報</a></p>
        <p class="link orange"><a href="mailto:haruku.maniwa@laicos.tech">お問い合わせ</a></p>
      </div>
    </div>
  </div>
  <address>Copyright &copy; 2026 Laicos Inc.</address>
</footer>
