<footer class="site-footer">
  <div class="wrap">
    <div class="row">
      <div class="left">
        <p class="logo"><img src="https://athost.jp/shared/img/shared/logo.png" alt="LuckyHotels" width="821" height="320" /></p>
        <div class="content">
          <h3>株式会社Laicos</h3>
          <p class="text">大阪府寝屋川市<br />Mail: <a class="orange" href="mailto:info@laicos.jp">info@laicos.jp</a></p>
        </div>
      </div>
      <div class="links">
        <p class="link orange"><a href="#" target="_blank" rel="nofollow noopener">運営会社</a></p>
        <p class="link orange"><a href="#" target="_blank" rel="nofollow noopener">個人情報保護方針</a></p>
      </div>
    </div>
  </div>
  <address>Copyright &copy; 2026 Laicos Inc.</address>
</footer>
