<header class="header">
  <nav class="nav-panel" aria-label="メインナビゲーション">
    <div class="scroll">
      <ul class="nav">
        <li><a class="link is-active" href="/">ホーム</a></li>
        <li><a class="link" href="/#sec01">制作内容</a></li>
        <li><a class="link" href="/#sec02">選ばれる理由</a></li>
        <li><a class="link" href="/#sec07">制作イメージ</a></li>
        <li><a class="link" href="/#sec08">進め方</a></li>
        <li><a class="link" href="/#sec10">お問い合わせ</a></li>
      </ul>
    </div>
  </nav>

  <button class="hamburger" type="button" aria-label="メニューを開閉する" aria-expanded="false">
    <svg class="hamburger-icon hamburger-icon-menu" aria-hidden="true" viewBox="0 0 24 24" focusable="false">
      <path d="M4 7h16M4 12h16M4 17h16" />
    </svg>
    <svg class="hamburger-icon hamburger-icon-close" aria-hidden="true" viewBox="0 0 24 24" focusable="false">
      <path d="M6 6l12 12M18 6L6 18" />
    </svg>
  </button>
</header>
