<header class="header">
  <nav class="nav-panel" aria-label="メインナビゲーション">
    <div class="scroll">
      <ul class="nav">
        <li><a class="link is-active" href="/">ホーム</a></li>
        <li><a class="link" href="/#sec01">サポート内容</a></li>
        <li><a class="link" href="/#sec06">対象エリア</a></li>
        <li><a class="link" href="/#sec07">運営実績</a></li>
        <li><a class="link" href="/#sec09">手数料</a></li>
        <li><a class="link" href="/#set1">お問い合わせ</a></li>
      </ul>
    </div>
  </nav>

  <button class="hamburger" type="button" aria-label="メニューを開閉する" aria-expanded="false">
    <span></span>
  </button>
</header>
