<section class="hero" id="mv">
  <div class="content">
    <h2 class="kicker">民泊の運営代行サービス</h2>

    <h1 class="logo">
      <a href="./" aria-label="@Host（アットホスト）">
        <img src="https://athost.jp/shared/img/shared/logo.png" alt="@Host（アットホスト）" width="300" height="129" />
      </a>
    </h1>

    <h3 class="catch">宿泊施設運用のプロが<br />完全サポートします！</h3>

    <p class="text">
      民泊や旅館業での宿泊施設の<br class="sp" />開業・集客・カスタマーサービスから<br class="sp" />売上管理まで煩雑なオペレーション業務とIT管理を、まるっとローコストでアウトソーシング<br />宿泊施設の収益最大化＆運営最適化のパートナーです
    </p>

    <p class="button">
      <a href="#set1">相談する</a>
    </p>
  </div>

  <div class="key">
    <p>
      <img src="https://athost.jp/shared/img/mv_p1.png" alt="宿泊施設" width="609" height="1052" />
    </p>
    <p>
      <img src="https://athost.jp/shared/img/mv_p2.png" alt="宿泊施設" width="640" height="890" />
    </p>
  </div>

  <p class="deco">
    <img src="https://athost.jp/shared/img/mv_deco.png" alt="deco" width="1684" height="608" />
  </p>
</section>
