<section class="hero">
  <h1>民泊の運営代行サービス</h1>
  <p>LuckyHotels</p>
  <p>Web制作のプロが完全サポートします</p>
  <small>民泊や旅館業での宿泊施設の開業・集客・カスタマーサービスから売上管理まで煩雑なオペレーション業務とIT管理を、まるっとローコストでアウトソーシング
宿泊施設の収益最大化＆運営最適化のパートナーです</small>
  <button type="">相談する</button>
</section>
