<section class="region" id="sec06">
  <div class="wrap row">
    <div class="content">
      <div class="section-heading">
        <h2>対象エリア</h2>
        <p>Area</p>
      </div>
      <h3>日本全国対応いたします。</h3>
      <p class="text">※一部エリアは清掃サービス等、受けられない場合があります。<br class="pc" />詳細はお問い合わせください。</p>
      <p class="button"><a href="#set1">相談する</a></p>
    </div>

    <div class="map-block">
      <div class="deco"></div>
      <p class="map"><img src="https://athost.jp/shared/img/sec06_map.png" alt="対象エリア" width="1011" height="1144" /></p>
    </div>
  </div>
</section>
