<section class="region" id="sec06">
  <div class="wrap row">
    <div class="content">
      <div class="section-heading">
        <h2>対応範囲</h2>
        <p>Area</p>
      </div>
      <h3>全国のレジャーホテルに対応します。</h3>
      <p class="text">オンラインでの打ち合わせを中心に、既存サイトの改善から新規制作まで対応します。<br class="pc" />写真撮影や現地確認が必要な場合もご相談ください。</p>
      <p class="button"><a href="#sec10">相談する</a></p>
    </div>

    <div class="map-block">
      <div class="deco"></div>
      <p class="map"><img src="https://athost.jp/shared/img/sec06_map.png" alt="全国対応" width="1011" height="1144" /></p>
    </div>
  </div>
</section>
